@charset "utf-8";

html{
  color: rgb(0, 74, 143);
  background-color: white;
  font-family: Sanchez, "slab-serif";
}

h1{
  font-size: 3em;
}

body,  p{
  font-size: 1em;
} 

ul{
    font-size: 2em;
    font-family: Sanchez, slabs-serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.menu-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.menu-item img {
    max-height: 120px;
}

ul a:hover{
    background-color:rgb(0, 74, 143);
    color: white;
}
